body{
    position: relative;
    align-items:center;
    font-family: 'Nanum Gothic', sans-serif;
    height: 100%;
    margin-right: 84px;
    margin-left: 84px;
    text-align:center;
  }
  .material-icons{

    cursor: pointer;

  }
  

  /*헤더*/
  
  header {
      margin: 0 auto;
      background: white;
      align-items:center;
      display: flex;
      height: 37px;    
      padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;

  
  }

  header.h1{
      text-align:left;
      padding-top:7px 30px 0px 0px;
      position: relative;
      z-index: 200;
      float: left;
 }
  
  p1 {
  
  
      margin-top: 7px;
      color:#434343;
      float: left;
      width: 53px;
      height: 10px;
      font-weight: 1000;
      font-family: Arial;
      font-size: 12px;

      
  }
  
  p2 {
      font-family:'Noto Sans KR', sans-serif;
      float: left;
      width: 40px;
      height: 21px;
      color:#434343;
      font-size: 20px;
      margin-top:4px;
      font-weight: 800;
  
  }
  
  p3 {
      font-family: 'Nanum Gothic', sans-serif;  
      float: left;
      width: 40px;
      height: 15px;
      margin-top: 10px;
      margin-left: 10px;
      font-size: 11px;
      color:#434343;
      font-weight: 600;
      

  
  }
  
  


  header .searchbox .material-icons{
    padding-top:13px;
    margin-right:10px;
    margin-left: 10px;
    color: #434343;
    width: 35px;
    height: 35px;
    background-position-x: -220px;
    background-position-y: 0px;
  }

  .searchbox{ 

    outline:none;
    border:1px solid #918e8e;
    padding: 0px 35px 0px 10px;
    margin-top: 10px;
    margin-left: 5px;
    width:260px;
    line-height: 8px;
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
 
   }

  .searchbox input{
    
    border: 0;
    padding: 0px 10px 0px 10px;
    width:200px;
    line-height: 25px;


  }

  header .log-in {

    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    padding-left: 1px;
    line-height: 21px;
    color: #666;
    text-align: center;
    
    
  }

  header .menu-login{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 20px;
    padding-left: 1px;
    line-height: 21px;
    color: #666;
    text-align: center;
  }

  header .login .material-icons{

    font-size: 32px;
    align-items: right;

}

  li.home{

    float: left;
    margin-right:15px;
    margin-left:15px;
    margin-top: 15px;
    font-size: 14px;
    text-decoration:none;
    display: block;
      }
   ul.menu li a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        font-size: 14px;
        font-weight: bold;
    }


  
  div.menu {
    clear: both;
    border-top: 1px solid #8d8787;
    border-bottom: 1px solid #8d8787;
    background: #fff;
    width: 960px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  a:-webkit-any-link{
    text-decoration: none;
    color:black;
    

  }

  /*메인*/

  main{
    width:960px;
    height:252px;
    padding:10px;
  }
div.main {
  width: 960px;
  text-align: left;
  height: 250px;
  font-family: 'Nanum Gothic', sans-serif;
}

div.today{

  float: left;
  width: 90px;
  height: 250px;
  padding: 0 5px 0 15px;
  border: 1px solid #e5e5e5;
  border-right: 1px;

}

h2 {
  font-size: 30px;
  color:black;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: -2px;
}

h3{
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  color: rgb(4, 226, 52);
}

h4{
  font-size: 10px;
}

div.todaywebtoon{
  margin-top:20px;
  margin-bottom:5px;
  padding: 0px;
}

ul.order{
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  color:rgb(95, 95, 95);
  margin-top: 40px;
  margin-bottom: 10px;
}

ul.order li a{
  display: block;
  height: 22px;
  text-decoration:none;

}

div.popular{
    background-size: 194px 159px;
    display: inline-block;
    width: 32px;
    height: 12px;
}

div.update{
  background-size: 194px 159px;
  display: inline-block;
  width: 54px;
  height: 12px;
}



div.inquiry{
  background-size: 194px 159px;
  display: inline-block;
  width: 32px;
  height: 12px;

}

div.star{
  background-size: 194px 159px;
  display: inline-block;
  width: 32px;
  height: 12px;

}


div.small image{
  position: relative;
  padding: 0 20px 0 19px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

li.small{
  float:left;
}

span.btn1{
  left: 0;
  width: 19px;
}

div.webtoonmain{
  float: left;
  width: 582px;
}

/*새로운 도전만화*/
div.newchallenge{
  width: 202px;
  height: 250px;
  padding-right:18px;
  padding-left:18px;
  border:1px solid #bebbbb;
  background-color:#f9f9fc;
  float:right;
  text-overflow:ellipsis; /*말줄임표표시*/
  
}

img.webtoonimg{
  width: 202px;
  height: 110px;
  border: solid 1px #a5a5a5;

}

h8{
  width: 150px;
  height: 18px;
  margin-top: 20px;
  margin-bottom:3px;
  display:block;

}
a.nechallname{
  font-weight:bolder;
  padding:60px;
  display:block;
}
a.name{
  text-align:right;
  text-overflow:ellipsis; /*넗이 초과시 말줄임표 표시*/
}

div.newchallaccount{
  font-size:11px;
  text-align:left;
  font-weight:bolder;

}

div.account {
  font-size:11px;
  text-overflow:ellipsis; /*넗이 초과시 말줄임표 표시*/
  color: #909394;
  width:202px;
  height:54px;
  margin-top:5px;
  margin-bottom:1px;
  overflow:hidden; /*잘리는 부분 숨기기*/
  word-break:keep-all; /*줄바꿀 때 단어 끊기지 않게 하기*/
}


/*장르별 추천웹툰*/

h5{
  display:block;
  width:694px;
  height:56px;
  text-align:left;
  padding-top: 30px;
  padding-bottom: 5px;

}

p4{
  font-size:15px;
  font-family:'Noto Sans KR', sans-serif;
  color: black;
}

p5{
  font-size:15px;
  font-family:'Noto Sans KR', sans-serif;
  color:rgb(4, 226, 52);
}

